/* HeroSearch private styles */
.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 167px;
  height: 30px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}
.form-control{
  border-top-left-radius: .25rem !important;
  border-bottom-left-radius: .25rem !important;
}
.input-group i {
  font-size: 1.2rem;
  margin-right: 0.9rem;
  color:#F79489;

}

.input-group-text{
  padding: 0;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}



ul.search-result {
  margin-top: 0;
  padding-left: 29px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/