
<app-nav-bar></app-nav-bar>

<div class="row">
  <div class="col">     
    <h4>My Contacts</h4>
  </div>
  <div class="col-10 col-sm-auto">						
    <a class="btn btn-success" (click)="exportAsXLSX()"><i class="bi bi-file-earmark-bar-graph-fill"></i>Exportar</a>
</div>


<div class="container-fluid head">
  <div class="row">
    <div class="col-1">#</div>
    <div class="col-3">Name</div>
    <div class="col-2">Company</div>
    <div class="col-3">Phone</div>
    <div class="col-2">Relationship</div>
    <div class="col-1 float-right">Action</div>
  </div>
</div>


<ul class="contacts">
  <li class="grow" *ngFor="let item of dataOfContacts">
    <div class="container">
      <div class="row">
        <div class="col-1 text">{{item.id}}</div>
        <div class="col-3 text"><span class="circle col-2">{{item.name | shortName}}</span>{{item.name}}</div>
        <div class="col-2 text">{{item.name}}</div>
        <div class="col-3 text">{{item.phone}}</div>
        <div class="col-2 text"><span class="status" [class]="item.relationship">{{item.relationship}}</span></div>
        <div class="col-1"><a routerLink="/profile/{{item.id}}"><button><i class="bi bi-three-dots-vertical"></i></button></a></div>
      </div>
    </div>
  </li>
</ul>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->