/* ContactComponent's private CSS styles */

.dropdown-toggle{
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6c757d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.dropdown-toggle i{
  vertical-align: text-bottom;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown-toggle.show .bi-chevron-down::before{
  transform: rotate(180deg);
}

.contacts {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

}
.contacts li {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  margin: .7em 0;
  padding: .3em 0;
  height: 5em;
  border-radius: 4px;
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.contacts li:nth-child(even) .circle{
  background: #F8AFA6;
}
.contacts li.grow{
  transition: all .2s ease-in-out;
}
.contacts li.grow:hover{
  transform: scale(1.1);
}
.input-group-text{
  padding: 0;
  background-color: #f79489;
  border: 1px solid #f79489;

}
.input-group-text button{
  font-size: 0.8rem;
  color: #fff ;
}


.contacts a {
  text-decoration: none;
  color: gray ;
}

.contacts .badge {
  display: inline-block;
  font-size: small;
  color: #fff ;
  position: relative;
  text-align: center;
  margin-right: .8em;
}
.contacts .circle {
  height: 30px;
  width: 30px;
  color: #fff ;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background: #f79489;
  padding-top: 0.3rem;
  font-size: 1em;
  font-weight: 400;
  margin-right: 10px;
}

.contacts button{
  float: right;
}

.contacts .status{
  color: #444;
  border: none;
  border-radius: 100px;
  padding: 0 15px;
  margin-left: 8px;
  
}
.contacts .status.Friend{
  background: #e8c7f3;
  color: #906a9d;
}
.contacts .status.Work{
  background: #ffe7b0;
  color: #b39d6a;
}
.contacts .status.Family{
  background: #bde6ed;
  color: #6ba2ab;
}
button {
  border: none;
  padding: 0 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
}

.head{
  margin: 30px 0;
  color: #c7c7c7;
}

.text{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/