<app-nav-bar></app-nav-bar>
<div class="container">
<h2>{{title}}</h2>
<nav>
  <a class="btn" routerLink="/heroes" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">All contact</a>
  <a class="btn" routerLink="/dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Favorite</a>

</nav>
  <router-outlet></router-outlet>
  <!-- <app-messages></app-messages>-->
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->