/* AppComponent's private CSS styles */
nav{
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(224, 224, 224);
    height: 2rem;

}

nav .btn{
    border: 0;
}
nav a {
    padding: 0;
    margin-right: 3rem;
    position: relative;
    float: left;
    padding-bottom: 0.59rem;
    border-radius: 0;
    color:#6c757d;
    font-size: 0.9rem;
    outline: none;
    box-shadow:none;
}

nav a.active-link{
    color: #F79489;
    border-bottom: 2px solid #F79489;

}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/