/* Button */
@import 'variables';
html > body {
  .btn {
    &:hover{
      text-decoration: none;
    }
    &.btn-block {
      display: block;
      width: 100%;

  }
    i{
        font-size: 1rem;
        align-items: center;
        display: inline-flex;
        vertical-align: sub;
        padding-right: 7px;
      }
      &:focus{
        box-shadow: none;
      }

      &.btn-primary{
        color: #FFFF;
        background-color: $color-brand;
        border-color: $color-brand;
        border: 2px solid $color-brand;

        &:hover{
            color: $color-brand;
            background-color: transparent;
            border: 2px solid $color-brand;

        }
        &:focus, &:active, &:not(:disabled):not(.disabled):active{
          color: #FFFF;
          background-color: $color-brand;
          border-color: $color-brand;
          border: 2px solid $color-brand;

      }
        &:not(:disabled):not(.disabled):active:focus{
          box-shadow: none;

        }
      }
      &.btn-success {
        color: $color-success !important;
        background-color: transparent;
        border: 2px solid $color-success;
      }
      &.btn-success:hover {
        background-color: $color-success;
        color: #fff !important;
        border: 2px solid $color-success;
      }
  }
} 