/* DashboardComponent's private CSS styles */

.card{
  margin: 0 0 30px;
}

.card h5{
  color: #F79489;
  font-weight: 400;
  margin: 0;
  font-size: 1rem;
  
}
.card-text{
  font-size: 0.8rem;
  color: #6c757d;
  margin-top: 10px;
}
.card ul{
  margin-top: 20px;
  color: #6c757d;
  list-style: none;
  padding: 0;
  display: block;

}
.card ul li{
  padding: 0 0 5px;
}
.card ul li i{
    font-size: 1rem;
    align-items: center;
    display: inline-flex;
    vertical-align: sub;
    padding-right: 7px;
}

a {
  text-decoration: none;
}
*, *::after, *::before {
  box-sizing: border-box;
}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/