/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *::after, *::before {
  box-sizing: border-box;
}
.grid {
  margin: 0;
}
.module {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  margin: .7em 0;
  padding: .3em 0;
  height: 5em;
  border-radius: 4px;
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  transition: all .2s ease-in-out;
}
.module h4{
  width: 100%;
  text-align: center;
  color: #F79489;
  font-weight: 400;
  margin: 0;
}
.module:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #FADCD9;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 0;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/