@import 'variables';


// Register

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.form-signup {
    width: 100%;
    max-width: 500px;
    padding: 10px 35px 20px;
    margin: 0 auto;
    border: 1px solid #f2f2f2;
    background: #fff;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    text-align: left;

    h4{
        margin-bottom: 25px;
        text-align: center;
    }
    
    i{
        color:$color-brand;
        font-size: 2rem;
        text-align: center;
        display: block;
        margin-bottom: 20px;
    }
}
.login{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    align-self: center;
    background: #ffddd9;
    position: relative;
    top: -1px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 20px;
    
    a{
        color: #6c757d;
    }

}