<div class="row">
  <div class="col">     
    <h4>My Contacts</h4>
  </div>
  <div class="col-10 col-sm-auto">
    <div class="input-group">
      <input #heroName type="text" class="form-control" placeholder="Enter Name" value="" required="">
      <span class="input-group-text">
        <button (click)="add(heroName.value); heroName.value=''">
          Add
      </button>
      </span>

  </div>
</div>
</div>
<div class="container head">
  <div class="row">
    <div class="col-1">#</div>
    <div class="col-3">Name</div>
    <div class="col-2">Company</div>
    <div class="col-3">Phone</div>
    <div class="col-2">Whatsapp</div>
    <div class="col-1">Action</div>
  </div>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes" class="grow">
    <div class="container">
      <div class="row">
        <div class="col-1 text">
          <span class="circle col-2">{{hero.name | shortName}}</span>
        </div>
        <div class="col-3 text">{{hero.name}}</div>
        <div class="col-2 text">{{hero.company}}</div>
        <div class="col-3 text">{{hero.phone}}</div>
        <div class="col-2 text"><span class="status" [class]="hero.whats">{{hero.whats}}</span></div>
        <div class="col-1"><button><i class="bi bi-three-dots-vertical"></i></button></div>
      </div>
    </div>
    <!-- <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>-->

  </li>
</ul>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->