/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;

}
.heroes li {
  position: relative;
  cursor: pointer;
  background-color: #fff;
  margin: .7em 0;
  padding: .3em 0;
  height: 5em;
  border-radius: 4px;
  box-shadow: 0 0 0.875rem 0 rgb(41 48 66 / 5%);
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.heroes li:nth-child(even) .circle{
  background: #F8AFA6;
}
.heroes li.grow{
  transition: all .2s ease-in-out;
}
.heroes li.grow:hover{
  transform: scale(1.1);
}
.input-group-text{
  padding: 0;
  background-color: #f79489;
  border: 1px solid #f79489;

}
.input-group-text button{
  font-size: 0.8rem;
  color: #fff ;
}
.form-control {
  font-size: 0.8rem;
}

.heroes a {
  text-decoration: none;
  color: gray ;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: #fff ;
  position: relative;
  text-align: center;
  margin-right: .8em;
}
.heroes .circle {
  height: 30px;
  width: 30px;
  color: #fff ;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  background: #f79489;
  padding-top: 0.3rem;
  font-size: 1em;
  font-weight: 400;
}

.heroes button{
  float: right;
}

.heroes .status{
  color: #444;
  border: none;
  border-radius: 100px;
  padding: 5px 16px;
  margin-left: 8px;
}
.heroes .status.yes{
  background: #c3e6ae;
}
.heroes .status.no{
  background: #ff7676;
}
button {
  border: none;
  padding: 0 1rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
}

.head{
  margin: 30px 0;
  color: #c7c7c7;
}

.text{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/