.navbar {
    border-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.navbar-brand i{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.3rem;
}
.navbar-brand {
    color: #F79489;
    display: flex;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0;
    position: relative;
}
.nav-item i{
    padding-right: 2rem;
    padding-left: 2rem;
    color: #F79489;
    font-size: 1.2rem;
}
.nav-item.user {
    color: #6c757d;
    display: flex!important;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    padding-top: 0.6rem;
}
.avatar {
    margin-top: -19px;
    margin-bottom: -15px;
    width: 35px;
    height: 35px;
    margin-right: 0.6rem;
}
.notification--num {
    position: absolute;
    top: 13%;
    left: 49%;
    font-size: 0.6rem;
    border-radius: 50%;
    width: 0.9rem;
    height: 0.9rem;
    background-color: #e83143;
    color: #ffffff;
    text-align: center;
  }



